body {
    max-width: 100ch;
    margin-inline: auto;
    padding: 0.5em;
    font: 100%/1.5 system-ui;
    background-color: var(--background-color, Canvas); /* Fallback for Canvas */
    color: var(--text-color, CanvasText); /* Fallback for CanvasText */
}

a {
    flex: 1; 
    text-decoration: none;
    color: inherit;
    text-align: center;
}

nav {
    display: flex;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    --border-color-light: oklch(50% 10% 200 / 40%);
    --border-color-dark: oklch(30% 15% 200 / 40%);
    border-bottom-color: var(--border-color, var(--border-color-light));
}

@media (prefers-color-scheme: dark) {
    nav {
        border-bottom-color: var(--border-color-dark);
    }
}

:root {
    --color-accent: oklch(65% 50% 0);  /* Customize this value */
}

html {
    color-scheme: light dark;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    color: var(--color-accent);
    background-color: rgba(255, 255, 255, 0.1); 
}

/* Form and responsive adjustments */
form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    max-width: 100%;
    margin-bottom: 2em;
    align-items: center;
}

/* Grid Layout */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    padding: 1em;
}

.color-scheme {
    position: absolute;
    top: 4rem;  /* Increase the top value to move it below the nav */
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
    z-index: 10; /* Ensure it stays on top */
}

body {
    position: relative;
}

.color-scheme select {
    font-family: inherit;
    font-size: inherit;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}
